{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": false,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "rules": {
    "no-param-reassign": 0
  }
}
